// #header
// #main
// #footer


// container 
.container {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

// wrap__title
.wrap__title {
    padding: 18rem 0 15rem;

    h2 {
        color: #fff;
        font-size: 10vmax;
        line-height: 0.85;
        letter-spacing: -0.0275em;
        font-family: "saol";
        text-transform: uppercase;

        strong,
        em {
            display: block;
            padding-top: 10px;
        }
    }
}





// contact__info
.contact__info {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #000;
    color: #fff;
    border-top: 1px solid #2e2e30;

    p {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 80px;
        font-family: "Rajdhani";
    }

    h3 {
        font-size: 9vw;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 5rem;
        font-family: "saol";
    }

    a {
        color: #000;
        background: #f0eeeb;
        border-radius: 50px;
        padding: 18px 53px;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: "Rajdhani";
    }
}


//light version
.light #header,
.light #main,
.light #aboutCont,
.light #referCont,
.light #scriptCont,
.light #youtubeCont,
.light #footer {
    background: #f0eeeb;
}

.light #header {
    color: #000;
    border-bottom: 1px solid #dad8d1;
}

.light #header .header__port a::before,
.light #header .header__port a::after {
    background: #000;
}

.light #footer {
    border-top: 1px solid #dad8d1;
    color: #000;
}

.light #footer div:nth-child(1),
.light #footer div:nth-child(2) {
    border-right: 1px solid #dad8d1;
}

.light .wrap__title h2 {
    color: #000;
}

.light .about__cont .about__txt {
    color: #000;
}

.light .refer__cont .table {
    border-color: #000;
}

.light .refer__cont .table h3 {
    color: #000;
}

.light .refer__cont .table li {
    border-top-color: #000;
}

.light .refer__cont .table li span {
    color: #000;
}
